/* Estilos generales */
body {
    background-color: #fff5e6; /* Fondo de color crema muy sutil */
}

header {
    background-color: #d2b48c; /* Color café claro */
    padding: 15px;
}

header a {
    color: white;
}

main {
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #f8f9fa; /* Fondo crema para el contenido principal */
}

footer {
    background-color: #d2b48c; /* Color café claro para el pie de página */
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
}

footer span {
    color: white;
}
